@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa; /* Very light subtle gray/white for premium feel */
}

/* Subtle animated background gradient utility */
.bg-mesh {
  background-image: 
    radial-gradient(at 40% 20%, hsla(28,100%,74%,0.15) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,100%,56%,0.05) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355,100%,93%,0.1) 0px, transparent 50%);
  filter: blur(40px);
}
